__pycache__
.ipynb_checkpoints
.vscode
trained_models/*
trained_models/*
!trained_models/ppo_super_mario_bros_1_1_271
*.csv
*.cmd
*.log
.pdf
!docs\Super_Mario_Bros_Game_Playing_with_Reinforcement_Learning.pdf